.DS_Store
node_modules
/dist
/vendor

# Package file
package-lock.json
composer.lock

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Vim's swap files
*.swp
*.swo
*~

# Database
.sqlite

# PHP Fake API
/public/api
